.DS_Store

source/*.aux
source/*.fdb_latexmk
source/*.fls
source/*.log
source/*.out
source/*.pdf
source/*.synctex.gz

research-paper/*.aux
research-paper/*.fdb_latexmk
research-paper/*.fls
research-paper/*.log
research-paper/*.out
research-paper/*.pdf
research-paper/*.synctex.gz

bibliography/*.aux
bibliography/*.fdb_latexmk
bibliography/*.fls
bibliography/*.log
bibliography/*.out
bibliography/*.pdf
bibliography/*.synctex.gz


research-perspectives/*.aux
research-perspectives/*.fdb_latexmk
research-perspectives/*.fls
research-perspectives/*.log
research-perspectives/*.out
research-perspectives/*.pdf
research-perspectives/*.synctex.gz